Repository cloud-bulldozer/benchmark-operator, pull requests merged in 2019-07, with the labels that each got.

#120 Iterate over test_list for all ci tests
  test.sh
  tests/common.sh
  tests/test_list
Labels: ok to test

#122 Generalizing ycsb and removing couchbase
  README.md
  deploy/40_cluster_role.yaml
  deploy/50_cluster_role_binding.yaml
  deploy/60_cluster_admin_role_binding.yaml
  docs/couchbase.md
  docs/installation.md
  docs/ycsb.md
  playbook.yml
  resources/crds/ripsaw_v1alpha1_couchbase_cr.yaml
  resources/crds/ripsaw_v1alpha1_ycsb-couchbase_cr.yaml
  resources/crds/ripsaw_v1alpha1_ycsb_cr.yaml
  roles/couchbase-infra/README.md
  roles/couchbase-infra/defaults/main.yml
  roles/couchbase-infra/handlers/main.yml
  roles/couchbase-infra/tasks/main.yml
  roles/couchbase-infra/templates/couchbase-cluster.yaml.j2
  roles/couchbase-infra/templates/couchbase-operator-rbac.yaml.j2
  roles/couchbase-infra/templates/couchbase-operator.yaml.j2
  roles/couchbase-infra/vars/main.yml
  roles/ycsb-bench/README.md
  roles/ycsb-bench/defaults/main.yml
  roles/ycsb-bench/handlers/main.yml
  roles/ycsb-bench/tasks/main.yml
  roles/ycsb-bench/vars/main.yml
  test.sh
  tests/test_couchbase.sh
  tests/test_crs/valid_couchbase.yaml
  tests/test_crs/valid_ycsb-couchbase.yaml
  tests/test_list
  tests/test_ycsb-couchbase.sh
Labels: ok to test

#116 UPerf : Pod to Service
  docs/uperf.md
  resources/crds/ripsaw_v1alpha1_uperf_cr.yaml
  resources/crds/ripsaw_v1alpha1_uperf_index_cr.yaml
  roles/uperf-bench/tasks/main.yml
  roles/uperf-bench/templates/server.yml.j2
  roles/uperf-bench/templates/service.yml.j2
  roles/uperf-bench/templates/workload.yml.j2
  tests/test_crs/valid_uperf.yaml
  tests/test_uperf_serviceip.sh
Labels: P1, ok to test

#123 Improve CI pod checking, including ripsaw itself
  tests/common.sh
  tests/test_byowl.sh
  tests/test_crs/valid_byowl.yaml
  tests/test_fio.sh
  tests/test_fiod.sh
  tests/test_iperf3.sh
  tests/test_sysbench.sh
  tests/test_uperf.sh
  tests/test_uperf_serviceip.sh
Labels: ok to test

#132 selectively running tests
  test.sh
  tests/common.sh
  tests/full_test_file_trigger
Labels: ok to test

#118 Pgbench
  README.md
  docs/installation.md
  docs/pgbench.md
  playbook.yml
  resources/crds/ripsaw_v1alpha1_pgbench_cr.yaml
  roles/pgbench/defaults/main.yml
  roles/pgbench/tasks/main.yml
  roles/pgbench/templates/workload.yml.j2
  tests/test_crs/valid_pgbench.yaml
  tests/test_list
  tests/test_pgbench.sh
Labels: P1, ok to test

#133 Cosmetic CR issue
  resources/crds/ripsaw_v1alpha1_byowl_cr.yaml
  resources/crds/ripsaw_v1alpha1_fio_cr.yaml
Labels: ok to test

#131 remove repeated tasks from roles/uperf-bench/tasks/main.yml
  roles/uperf-bench/tasks/main.yml
Labels: ok to test

#137 Fio-distributed running multiple samples
  docs/fio_distributed.md
  resources/crds/ripsaw_v1alpha1_fio_distributed_cr.yaml
  roles/fio-distributed/tasks/main.yml
  roles/fio-distributed/templates/client.yaml
  roles/fio-distributed/templates/client_store.yaml
  roles/pre-result/tasks/fiod.yml
  roles/result/tasks/fiod-clat-hist.yaml
  roles/result/tasks/fiod-samples.yml
  roles/result/tasks/fiod.yaml
  roles/result/templates/fiod.json.j2
  roles/result/templates/fiod_bw.json.j2
  roles/result/templates/fiod_clat.json.j2
  roles/result/templates/fiod_clat_hist.json.j2
  roles/result/templates/fiod_iops.json.j2
  roles/result/templates/fiod_lat.json.j2
  roles/result/templates/fiod_slat.json.j2
  tests/test_crs/valid_fiod.yaml
  tests/test_crs/valid_fiod_store.yaml
  tests/test_fiod.sh
Labels: P1

#135 selectively running tests
  test.sh
  tests/common.sh
  tests/full_test_file_trigger
Labels: P1, ok to test

#142 Remove fio
  README.md
  docs/fio.md
  docs/installation.md
  playbook.yml
  resources/crds/ripsaw_v1alpha1_fio_cr.yaml
  roles/fio-bench/README.md
  roles/fio-bench/defaults/main.yml
  roles/fio-bench/handlers/main.yml
  roles/fio-bench/tasks/main.yml
  roles/fio-bench/templates/client.yml.j2
  roles/fio-bench/templates/job.fio.rand
  roles/fio-bench/templates/job.fio.seq
  roles/fio-bench/vars/main.yml
  tests/common.sh
  tests/test_crs/valid_fio.yaml
  tests/test_crs/valid_fio_store.yaml
  tests/test_fio.sh
  tests/test_list
Labels: ok to test

#129 Show benchmark type
  resources/crds/ripsaw_v1alpha1_ripsaw_crd.yaml
Labels: ok to test

#138 Changing ycsb status to working
  README.md
  docs/ycsb.md
  playbook.yml
  roles/ycsb-bench/tasks/main.yml
  tests/test_crs/valid_ycsb-mongo.yaml
  tests/test_list
  tests/test_ycsb.sh
Labels: ok to test

#145 fix jinja2 if logic for pin_node feature of pgbench workload
  roles/pgbench/templates/workload.yml.j2
Labels: P2, bug, ok to test

#148 Fixing testscript
  full_test.sh
  test.sh
  tests/common.sh
Labels: ok to test

#109 Single pod implementation of smallfile
  README.md
  docs/smallfile.md
  playbook.yml
  resources/crds/ripsaw_v1alpha1_smallfile_cr.yaml
  roles/smallfile-bench/tasks/main.yml
  roles/smallfile-bench/templates/publisher.py.j2
  roles/smallfile-bench/templates/smallfilejob.other_parameters.yaml.j2
  roles/smallfile-bench/templates/subscriber.py.j2
  roles/smallfile-bench/templates/workload_job.yml.j2
  tests/test_crs/valid_smallfile.yaml
  tests/test_list
  tests/test_smallfile.sh
Labels: P1

#153 updating namespace to my-ripsaw
  CONTRIBUTE.md
  deploy/10_service_account.yaml
  deploy/20_role.yaml
  deploy/30_role_binding.yaml
  docs/byowl.md
  docs/fio_distributed.md
  docs/installation.md
  docs/iperf.md
  docs/pgbench.md
  docs/smallfile.md
  docs/sysbench.md
  docs/uperf.md
  docs/ycsb.md
  group_vars/all.yml
  resources/crds/ripsaw_v1alpha1_byowl_cr.yaml
  resources/crds/ripsaw_v1alpha1_fio_distributed_cr.yaml
  resources/crds/ripsaw_v1alpha1_iperf3_cr.yaml
  resources/crds/ripsaw_v1alpha1_pgbench_cr.yaml
  resources/crds/ripsaw_v1alpha1_smallfile_cr.yaml
  resources/crds/ripsaw_v1alpha1_sysbench_cr.yaml
  resources/crds/ripsaw_v1alpha1_uperf_cr.yaml
  resources/crds/ripsaw_v1alpha1_uperf_index_cr.yaml
  resources/crds/ripsaw_v1alpha1_ycsb_cr.yaml
  resources/namespace.yaml
  resources/operator.yaml
  resources/operator_store_results.yaml
  tests/common.sh
  tests/full_test_file_trigger
  tests/test_byowl.sh
  tests/test_crs/valid_byowl.yaml
  tests/test_crs/valid_fiod.yaml
  tests/test_crs/valid_fiod_store.yaml
  tests/test_crs/valid_iperf3.yaml
  tests/test_crs/valid_pgbench.yaml
  tests/test_crs/valid_smallfile.yaml
  tests/test_crs/valid_sysbench.yaml
  tests/test_crs/valid_uperf.yaml
  tests/test_crs/valid_uperf_store.yaml
  tests/test_crs/valid_ycsb-mongo.yaml
  tests/test_fiod.sh
  tests/test_iperf3.sh
  tests/test_pgbench.sh
  tests/test_smallfile.sh
  tests/test_sysbench.sh
  tests/test_uperf.sh
  tests/test_uperf_serviceip.sh
  tests/test_ycsb.sh
Labels: P1, ok to test

#152 integrate snafu wrapper of pgbench for elastic indexing
  docs/pgbench.md
  resources/crds/ripsaw_v1alpha1_pgbench_cr.yaml
  roles/pgbench/templates/workload.yml.j2
  tests/test_crs/valid_pgbench.yaml
Labels: P2, enhancement, ok to test

#154 removing pv req for indexing
  docs/fio_distributed.md
  docs/installation.md
  resources/operator_store_results.yaml
  resources/result-pvc.yaml
  roles/fio-distributed/README.md
  roles/fio-distributed/defaults/main.yml
  roles/fio-distributed/handlers/main.yml
  roles/fio-distributed/tasks/main.yml
  roles/fio-distributed/templates/client.yaml
  roles/fio-distributed/templates/client_store.yaml
  roles/fio-distributed/templates/configmap.yml.j2
  roles/fio-distributed/templates/job.fio.rand
  roles/fio-distributed/templates/job.fio.seq
  roles/fio-distributed/vars/main.yml
  roles/pre-result/tasks/fiod.yml
  roles/result/files/fio-histo-log-pctiles.py
  roles/result/tasks/fio-logs.yml
  roles/result/tasks/fio-samples.yml
  roles/result/tasks/fio.yaml
  roles/result/tasks/fiod-clat-hist.yaml
  roles/result/tasks/fiod-samples.yml
  roles/result/tasks/fiod.yaml
  roles/result/tasks/main.yml
  roles/result/templates/fio.json.j2
  roles/result/templates/fio_bw.json.j2
  roles/result/templates/fio_clat.json.j2
  roles/result/templates/fio_clat_csv.json.j2
  roles/result/templates/fio_iops.json.j2
  roles/result/templates/fio_lat.json.j2
  roles/result/templates/fio_slat.json.j2
  roles/result/templates/fiod.json.j2
  roles/result/templates/fiod_bw.json.j2
  roles/result/templates/fiod_clat.json.j2
  roles/result/templates/fiod_clat_hist.json.j2
  roles/result/templates/fiod_iops.json.j2
  roles/result/templates/fiod_lat.json.j2
  roles/result/templates/fiod_slat.json.j2
  roles/result/templates/result.json
  tests/test_crs/valid_fiod.yaml
  tests/test_crs/valid_fiod_store.yaml
  tests/test_fiod.sh
  tests/test_list
Labels: P1, ok to test

#158 correct example CR file for changes in PR #154
  resources/crds/ripsaw_v1alpha1_fio_distributed_cr.yaml
  roles/fio-distributed/templates/configmap.yml.j2
  tests/test_crs/valid_fiod.yaml
  tests/test_crs/valid_fiod_store.yaml
Labels: P1, bug, ok to test

#161 improve fio jobfile and allow for more customization in the CR
  docs/fio_distributed.md
  resources/crds/ripsaw_v1alpha1_fio_distributed_cr.yaml
  roles/fio-distributed/defaults/main.yml
  roles/fio-distributed/templates/client.yaml
  roles/fio-distributed/templates/configmap.yml.j2
  tests/test_crs/valid_fiod.yaml
  tests/test_crs/valid_fiod_store.yaml
  tests/test_fiod.sh
Labels: P1, enhancement, ok to test

#165 Add uperf 'nthr' param to allow the option to run multi-threaded uper…
  docs/uperf.md
  resources/crds/ripsaw_v1alpha1_uperf_cr.yaml
  resources/crds/ripsaw_v1alpha1_uperf_index_cr.yaml
  roles/uperf-bench/templates/configmap.yml.j2
  tests/test_crs/valid_uperf.yaml
  tests/test_crs/valid_uperf_store.yaml
  tests/test_uperf.sh
Labels: ok to test

#167 Enable figlet usage for ease of readability during CI testing
  tests/test_byowl.sh
  tests/test_fiod.sh
  tests/test_iperf3.sh
  tests/test_pgbench.sh
  tests/test_smallfile.sh
  tests/test_sysbench.sh
  tests/test_uperf.sh
  tests/test_uperf_serviceip.sh
  tests/test_ycsb.sh
Labels: ok to test

#160 simplify fio pin_node logic
  docs/fio_distributed.md
  resources/crds/ripsaw_v1alpha1_fio_distributed_cr.yaml
  roles/fio-distributed/defaults/main.yml
  roles/fio-distributed/templates/servers.yaml
  tests/test_crs/valid_fiod.yaml
  tests/test_crs/valid_fiod_store.yaml
Labels: P3, enhancement, ok to test

#163 Allow for number of workers to be increased
  resources/operator.yaml
Labels: ok to test

#170 moving sample loop to snafu
  roles/fio-distributed/templates/client.yaml
Labels: ok to test

#164 Collect and display more detail for CI Issue #71
  tests/common.sh
  tests/test_byowl.sh
  tests/test_fiod.sh
  tests/test_iperf3.sh
  tests/test_pgbench.sh
  tests/test_smallfile.sh
  tests/test_sysbench.sh
  tests/test_uperf.sh
  tests/test_uperf_serviceip.sh
  tests/test_ycsb.sh
Labels: ok to test

#172 fixing ci for fio
  tests/test_fiod.sh
Labels: ok to test

#171 Mange the status of the workloads
  resources/crds/ripsaw_v1alpha1_ripsaw_crd.yaml
  roles/uperf-bench/tasks/main.yml
  tests/test_uperf.sh
  watches.yaml
Labels: ok to test

#156 Implement looping through a list of total number of databases
  docs/pgbench.md
  resources/crds/ripsaw_v1alpha1_pgbench_cr.yaml
  roles/pgbench/defaults/main.yml
  roles/pgbench/tasks/generate_num_databases.yml
  roles/pgbench/tasks/main.yml
  roles/pgbench/tasks/run_workload.yml
  roles/pgbench/templates/workload.yml.j2
  tests/test_crs/valid_pgbench.yaml
Labels: P2, enhancement, ok to test
