Repository cloud-bulldozer/benchmark-operator, pull requests merged in 2019-08, with the labels that each got.

#166 tweaks for pgbench defaults and env vars
  roles/pgbench/defaults/main.yml
  roles/pgbench/tasks/main.yml
  roles/pgbench/templates/workload.yml.j2
Labels: P3, enhancement, ok to test

#184 removing smallfiles option for mongo test
  tests/test_list
  tests/test_ycsb.sh
Labels: ok to test

#112 Updating to latest operator framework
  build/Dockerfile
  deploy/20_role.yaml
  resources/operator.yaml
Labels: P3, ok to test

#185 Added trap on error function
  tests/common.sh
  tests/test_byowl.sh
  tests/test_fiod.sh
  tests/test_iperf3.sh
  tests/test_pgbench.sh
  tests/test_smallfile.sh
  tests/test_sysbench.sh
  tests/test_uperf.sh
  tests/test_uperf_serviceip.sh
  tests/test_ycsb.sh
Labels: ok to test

#186 wait_clean now deletes all not just pods, jobs, etc
  tests/common.sh
Labels: ok to test

#181 Added results.xml to be passed on CI completion
  test.sh
Labels: ok to test

#190 reducing uperf test runtime for CI
  tests/test_crs/valid_uperf.yaml
Labels: ok to test

#174 Pgbench timeout
  resources/crds/ripsaw_v1alpha1_pgbench_cr.yaml
  roles/pgbench/defaults/main.yml
  roles/pgbench/tasks/calculate_timeouts.yml
  roles/pgbench/tasks/run_workload.yml
  roles/pgbench/templates/workload.yml.j2
Labels: P2, enhancement, ok to test

#175 Pgbench timestamps
  roles/pgbench/templates/workload.yml.j2
Labels: P2, enhancement, ok to test

#191 Control looping and show uuid
  playbook.yml
  resources/crds/ripsaw_v1alpha1_ripsaw_crd.yaml
  roles/byowl/templates/workload.yml
  roles/fio-distributed/tasks/main.yml
  roles/fio-distributed/templates/client.yaml
  roles/fio-distributed/templates/configmap.yml.j2
  roles/fio-distributed/templates/servers.yaml
  roles/iperf3-bench/tasks/main.yml
  roles/iperf3-bench/templates/client.yml.j2
  roles/iperf3-bench/templates/client_store.yml.j2
  roles/iperf3-bench/templates/server.yml.j2
  roles/load-ycsb/tasks/main.yml
  roles/load-ycsb/templates/configmap.yml.j2
  roles/pgbench/tasks/run_workload.yml
  roles/pgbench/templates/workload.yml.j2
  roles/smallfile-bench/tasks/main.yml
  roles/smallfile-bench/templates/workload_job.yml.j2
  roles/sysbench/tasks/main.yml
  roles/sysbench/templates/workload.yml
  roles/sysbench/templates/workload_vm.yml
  roles/uperf-bench/tasks/main.yml
  roles/uperf-bench/templates/configmap.yml.j2
  roles/uperf-bench/templates/server.yml.j2
  roles/uperf-bench/templates/service.yml.j2
  roles/uperf-bench/templates/workload.yml.j2
  roles/uuid/tasks/main.yml
  roles/ycsb-bench/tasks/main.yml
  roles/ycsb-bench/templates/configmap.yml.j2
  tests/common.sh
  tests/test_byowl.sh
  tests/test_fiod.sh
  tests/test_iperf3.sh
  tests/test_pgbench.sh
  tests/test_smallfile.sh
  tests/test_sysbench.sh
  tests/test_uperf.sh
  tests/test_uperf_serviceip.sh
  tests/test_ycsb.sh
Labels: ok to test

#195 ServiceIP bug
  roles/uperf-bench/templates/service.yml.j2
Labels: ok to test

#196 Tests are now retried once upon failure
  run_test.sh
  test.sh
  tests/common.sh
Labels: ok to test

#194 Added duration of test to markdown
  run_test.sh
  test.sh
Labels: ok to test

#183 changed dash to underscore for fio wrapper
  roles/fio-distributed/templates/client.yaml
Labels: ok to test

#206 FIOD was missed
  roles/fio-distributed/tasks/main.yml
Labels: ok to test

#192 fs-drift benchmark
  README.md
  docs/fs-drift.md
  docs/installation.md
  playbook.yml
  resources/crds/ripsaw_v1alpha1_fs_drift_cr.yaml
  roles/fs-drift/tasks/main.yml
  roles/fs-drift/templates/other_parameters.yaml.j2
  roles/fs-drift/templates/publisher.py.j2
  roles/fs-drift/templates/subscriber.py.j2
  roles/fs-drift/templates/workload_job.yml.j2
  tests/common.sh
  tests/test_crs/valid_fs_drift.yaml
  tests/test_fs_drift.sh
  tests/test_list
Labels: ok to test

#207 rearrange fio loop order
  docs/fio_distributed.md
  roles/fio-distributed/templates/client.yaml
  roles/fio-distributed/templates/configmap.yml.j2
Labels: P1, enhancement, ok to test
