Repository cloud-bulldozer/benchmark-operator, pull requests merged in 2019-10, with the labels that each got.

#208 Hammerdb
  README.md
  docs/hammerdb.md
  playbook.yml
  resources/crds/ripsaw_v1alpha1_hammerdb_cr.yaml
  resources/crds/ripsaw_v1alpha1_hammerdb_index_cr.yaml
  resources/operator.yaml
  roles/hammerdb/defaults/main.yml
  roles/hammerdb/tasks/main.yaml
  roles/hammerdb/templates/createdb.tcl.j2
  roles/hammerdb/templates/db_creation.yml
  roles/hammerdb/templates/db_workload.yml
  roles/hammerdb/templates/workload.tcl.j2
  tests/common.sh
  tests/mssql.yaml
  tests/test_crs/valid_hammerdb.yaml
  tests/test_hammerdb.sh
  tests/test_list
Labels: P1, enhancement, ok to test

#225 Multus support
  docs/uperf.md
  resources/crds/ripsaw_v1alpha1_uperf_cr.yaml
  roles/uperf-bench/templates/server.yml.j2
  roles/uperf-bench/templates/workload.yml.j2
  tests/test_crs/valid_uperf.yaml
  tests/test_crs/valid_uperf_serviceip.yaml
Labels: ok to test

#223 switch smallfile to using run_snafu.py
  resources/crds/ripsaw_v1alpha1_smallfile_cr.yaml
  roles/smallfile-bench/templates/workload_job.yml.j2
  tests/test_crs/valid_smallfile.yaml
Labels: ok to test

#238 UPerf Pod antiaffinity
  roles/uperf-bench/templates/workload.yml.j2
Labels: ok to test

#239 BUG: ycsb options_run not used for run phase
  roles/ycsb-bench/tasks/main.yml
Labels: bug, ok to test
