Repository cloud-bulldozer/benchmark-operator, pull requests merged in 2020-04, with the labels that each got.

#300 Adding ci check for changes in cr files and a clean exit when no test
  test.sh
  tests/common.sh
Labels: CI, ok to test

#299 lengthen the fs-drift CI test to 15
  tests/test_crs/valid_fs_drift.yaml
Labels: ok to test

#304 fix fiojob for fio-3.19
  roles/fio-distributed/templates/configmap.yml.j2
Labels: ok to test

#303 Fixing potential infinite loop when logging errors
  tests/common.sh
Labels: CI, ok to test

#306 Revert "fix fiojob for fio-3.19"
  roles/fio-distributed/templates/configmap.yml.j2
Labels: ok to test

#311 fixing fsdrift hostpath cr
  tests/common.sh
  tests/test_crs/valid_fs_drift_hostpath.yaml
Labels: ok to test

#296 Fix bidirectional test
  roles/uperf-bench/templates/configmap.yml.j2
  tests/test_crs/valid_uperf.yaml
Labels: bug, ok to test

#313 cutting 0.0.2 version of ripsaw
  roles/fio-distributed/templates/client.yaml
  roles/fio-distributed/templates/servers.yaml
  roles/fs-drift/templates/workload_job.yml.j2
  roles/hammerdb/templates/db_creation.yml
  roles/hammerdb/templates/db_workload.yml.j2
  roles/iperf3-bench/templates/client.yml.j2
  roles/iperf3-bench/templates/client_store.yml.j2
  roles/iperf3-bench/templates/server.yml.j2
  roles/load-ycsb/tasks/main.yml
  roles/pgbench/defaults/main.yml
  roles/smallfile-bench/templates/workload_job.yml.j2
  roles/sysbench/templates/workload.yml
  roles/uperf-bench/templates/server.yml.j2
  roles/uperf-bench/templates/workload.yml.j2
  roles/uperf-bench/templates/workload_vm.yml.j2
  roles/ycsb-bench/tasks/main.yml
Labels: ok to test

#302 Add block to pre-fill cluster if fiod.prefill is true
  docs/fio_distributed.md
  roles/fio-distributed/templates/client.yaml
  roles/fio-distributed/templates/configmap.yml.j2
  tests/test_crs/valid_fiod.yaml
Labels: ok to test

#276 Updating CRD api to version v1
  docs/installation.md
  resources/crds/ripsaw_v1alpha1_ripsaw_crd.yaml
  tests/test_hammerdb.sh
  tests/test_pgbench.sh
  tests/test_ycsb.sh
Labels: ok to test

#320 Adding a short sleep to each CI test run to avoid command collision
  run_test.sh
Labels: CI, ok to test

#322 Adding optional image location for workloads
  .gitignore
  README.md
  roles/backpack/templates/backpack.yml
  roles/byowl/templates/workload.yml
  roles/fio-distributed/templates/client.yaml
  roles/fio-distributed/templates/servers.yaml
  roles/fs-drift/templates/workload_job.yml.j2
  roles/hammerdb/templates/db_creation.yml
  roles/hammerdb/templates/db_workload.yml.j2
  roles/iperf3-bench/templates/client.yml.j2
  roles/iperf3-bench/templates/server.yml.j2
  roles/pgbench/templates/workload.yml.j2
  roles/smallfile-bench/templates/workload_job.yml.j2
  roles/sysbench/templates/workload.yml
  roles/uperf-bench/templates/server.yml.j2
  roles/uperf-bench/templates/workload.yml.j2
Labels: ok to test

#315 Adding logic to backpack to only run on a node once for a given uuid
  docs/metadata.md
  playbook.yml
  resources/crds/ripsaw_v1alpha1_ripsaw_crd.yaml
  roles/backpack/templates/backpack.yml
  roles/byowl/templates/workload.yml
  roles/fio-distributed/templates/client.yaml
  roles/fio-distributed/templates/servers.yaml
  roles/fs-drift/templates/workload_job.yml.j2
  roles/hammerdb/templates/db_creation.yml
  roles/hammerdb/templates/db_workload.yml.j2
  roles/iperf3-bench/templates/client.yml.j2
  roles/iperf3-bench/templates/server.yml.j2
  roles/pgbench/templates/workload.yml.j2
  roles/smallfile-bench/templates/workload_job.yml.j2
  roles/sysbench/templates/workload.yml
  roles/uperf-bench/templates/server.yml.j2
  roles/uperf-bench/templates/workload.yml.j2
  tests/test_crs/valid_backpack.yaml
  tests/test_crs/valid_byowl.yaml
  tests/test_crs/valid_fiod.yaml
  tests/test_crs/valid_fiod_hostpath.yaml
  tests/test_crs/valid_fs_drift.yaml
  tests/test_crs/valid_fs_drift_hostpath.yaml
  tests/test_crs/valid_hammerdb.yaml
  tests/test_crs/valid_iperf3.yaml
  tests/test_crs/valid_pgbench.yaml
  tests/test_crs/valid_smallfile.yaml
  tests/test_crs/valid_smallfile_hostpath.yaml
  tests/test_crs/valid_sysbench.yaml
  tests/test_crs/valid_uperf.yaml
  tests/test_crs/valid_uperf_resources.yaml
  tests/test_crs/valid_uperf_serviceip.yaml
  tests/test_crs/valid_ycsb-mongo.yaml
Labels: ok to test

#326 Fixing incorrect indentation in backpack template
  roles/backpack/templates/backpack.yml
Labels: ok to test

#323 Adding Cerberus integration
  README.md
  docs/cerberus.md
  playbook.yml
  resources/crds/ripsaw_v1alpha1_ripsaw_crd.yaml
  roles/cerberus/tasks/main.yml
Labels: ok to test
