Repository cloud-bulldozer/benchmark-operator, pull requests merged in 2020-05, with the labels that each got.

#321 Fio yaml enhancements
  resources/crds/ripsaw_v1alpha1_fio_distributed_cr.yaml
  roles/fio-distributed/templates/client.yaml
  roles/fio-distributed/templates/configmap.yml.j2
  tests/test_crs/valid_fiod.yaml
  tests/test_crs/valid_fiod_hostpath.yaml
Labels: enhancement, ok to test

#334 shorten both of these tests up so CI doesn't timeout
  tests/test_crs/valid_fiod.yaml
  tests/test_crs/valid_fiod_hostpath.yaml
Labels: ok to test

#318 Adding logic to CI testing to check ES for workload results
  resources/backpack_role.yaml
  tests/check_es.py
  tests/common.sh
  tests/test_backpack.sh
  tests/test_byowl.sh
  tests/test_crs/valid_backpack.yaml
  tests/test_fiod.sh
  tests/test_fs_drift.sh
  tests/test_hammerdb.sh
  tests/test_iperf3.sh
  tests/test_pgbench.sh
  tests/test_smallfile.sh
  tests/test_sysbench.sh
  tests/test_uperf.sh
  tests/test_ycsb.sh
Labels: CI, ok to test

#335 Adding optional label parameters to metadata daemonset.
  docs/metadata.md
  roles/backpack/templates/backpack.yml
Labels: ok to test

#341 Allow customizing smallfile publisher image
  roles/smallfile-bench/tasks/main.yml
Labels: enhancement, ok to test

#338 Fixing CRD schema error
  resources/crds/ripsaw_v1alpha1_ripsaw_crd.yaml
Labels: ok to test

#330 allow for pinning of ycsb load/workload pods
  docs/ycsb.md
  roles/load-ycsb/tasks/main.yml
  roles/load-ycsb/templates/workload.yml.j2
  roles/ycsb-bench/tasks/main.yml
  roles/ycsb-bench/templates/workload.yml.j2
Labels: ok to test

#342 Adding additional check for scc in CI testing
  tests/common.sh
Labels: ok to test

#332 Variable standarization
  docs/metadata.md
  resources/crds/ripsaw_v1alpha1_ripsaw_crd.yaml
  roles/backpack/templates/backpack.yml
  roles/byowl/defaults/main.yml
  roles/byowl/templates/workload.yml
  roles/fio_distributed/defaults/main.yml
  roles/fio_distributed/templates/client.yaml
  roles/fio_distributed/templates/servers.yaml
  roles/fs-drift/templates/workload_job.yml.j2
  roles/hammerdb/defaults/main.yml
  roles/hammerdb/templates/db_creation.yml
  roles/hammerdb/templates/db_workload.yml.j2
  roles/iperf3/defaults/main.yml
  roles/iperf3/templates/client.yml.j2
  roles/iperf3/templates/client_store.yml.j2
  roles/iperf3/templates/server.yml.j2
  roles/pgbench/defaults/main.yml
  roles/pgbench/templates/workload.yml.j2
  roles/smallfile/templates/workload_job.yml.j2
  roles/sysbench/templates/workload.yml
  roles/uperf/defaults/main.yml
  roles/uperf/templates/server.yml.j2
  roles/uperf/templates/workload.yml.j2
  roles/ycsb/defaults/main.yml
  roles/ycsb/templates/ycsb_load.yaml
  roles/ycsb/templates/ycsb_run.yaml
  tests/test_crs/valid_fiod.yaml
  tests/test_crs/valid_fiod_hostpath.yaml
  tests/test_crs/valid_fs_drift.yaml
  tests/test_crs/valid_fs_drift_hostpath.yaml
  tests/test_crs/valid_hammerdb.yaml
  tests/test_crs/valid_pgbench.yaml
  tests/test_crs/valid_smallfile.yaml
  tests/test_crs/valid_smallfile_hostpath.yaml
  tests/test_crs/valid_uperf.yaml
  tests/test_crs/valid_uperf_resources.yaml
  tests/test_crs/valid_uperf_serviceip.yaml
  tests/test_crs/valid_uperf_store.yaml
  tests/test_crs/valid_ycsb-mongo.yaml
Labels: enhancement, hold, ok to test

#349 Fixing if statement for renamed directories
  tests/common.sh
Labels: CI, ok to test

#337 migrate to ansible-operator:v0.17.0
  build/Dockerfile
  image_resources/centos8-appstream.repo
  playbook.yml
  requirements.yml
  roles/backpack/tasks/main.yml
  roles/byowl/tasks/main.yml
  roles/cerberus/tasks/main.yml
  roles/fio_distributed/tasks/main.yml
  roles/fs-drift/tasks/main.yml
  roles/iperf3/tasks/main.yml
  roles/pgbench/tasks/check_clients.yml
  roles/pgbench/tasks/init.yml
  roles/pgbench/tasks/main.yml
  roles/pgbench/tasks/prep_workload.yml
  roles/pgbench/tasks/run_workload.yml
  roles/smallfile/tasks/main.yml
  roles/sysbench/tasks/main.yml
  roles/sysbench/templates/sysbench.sh.j2
  roles/uperf/tasks/main.yml
  roles/ycsb/tasks/main.yml
Labels: ok to test

#350 Backpack readiness probe
  roles/backpack/templates/backpack.yml
  tests/test_backpack.sh
Labels: ok to test
